.java-version
target
bin
grobid-home/tmp
.DS_Store
Thumbs.db
.project
.settings
.classpath
.idea
.gradle
**/build
*/out/
*.iml
*.log
*.log.*
*.old
tei-alt
raw-alt
tei-new
raw-new
/log
/logs

dependency-reduced-pom.xml

build.xml

*/maven-build.properties
*/maven-build.xml
maven-build.xml
release.properties

resources/dataset